body {
	background-image: url("../images/dimension.png");
}

/*.crystal {
	height: 250px;
	width: 250px;
}*/

img {
	height: 200px;
	width: 200px;
	padding: 0px;
	margin: 7px;
}

#jumbo {
	margin: auto;
	width: 50%;
	text-align: center;
}

#wins, #loss, #randomNumber, #totalScore {
	font-size: 24px;
    color: #337ab7;
}

.btn {
	margin: 0px 2%;
}

#instructions {
	border-color: #337ab7;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    margin: 10px 0px;
    padding: 15px 0px;
    font-size: 18px;
}